<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold">Shopping</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex w-100 justify-content-between mb-2 mb-lg-0">
        <div class="d-flex links">
          <li class="nav-item" *ngIf="isLogin && !checkIfAdmin()">
            <a
              class="nav-link"
              aria-current="page"
              routerLink="/"
              routerLinkActive="active"
            >
              Products
            </a>
          </li>
          <li class="nav-item" *ngIf="isLogin && checkIfAdmin()">
            <a
              class="nav-link"
              aria-current="page"
              routerLink="admin"
              routerLinkActive="active"
            >
              Products
            </a>
          </li>
          <li class="nav-item" *ngIf="isLogin && !checkIfAdmin()">
            <a
              class="nav-link cart"
              routerLink="cart/cart"
              routerLinkActive="active"
            >
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
          </li>
          <li class="nav-item" *ngIf="isLogin && checkIfAdmin()">
            <a
              class="nav-link cart"
              routerLink="admin/adminCart"
              routerLinkActive="active"
            >
              Orders
            </a>
          </li>
        </div>
        <div class="d-flex">
          <li class="nav-item" *ngIf="!isLogin">
            <a
              class="nav-link"
              routerLink="user/login"
              routerLinkActive="active"
            >
              Login
            </a>
          </li>
          <li class="nav-item" *ngIf="!isLogin">
            <a
              class="nav-link"
              routerLink="user/register"
              routerLinkActive="active"
            >
              Register
            </a>
          </li>
        
          <li class="nav-item" (click)="logout()" *ngIf="isLogin">
            <a
              class="nav-link"
              routerLink="user/logout"
              routerLinkActive="active"
            >
              Logout
            </a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
